<!DOCTYPE html>
<html lang="en">
<head>
    
  <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to Al Ghani Team</h1>
    <h3 style="color: blue; text-align: center;"> <%= name %> </h3>
    <a href="https://linkedin.com">go to linkedin</a>
    <strong >Your Project Id is </strong>
    <p><%= id%> </p>
    <strong >Your Verification Code Id is </strong>
    <p> <%= Code %> </p>
    <img src="https://www.alghani.pk/wp-content/uploads/2018/12/Al-Ghani-logo-straight1.png" style="width: 80%; height: 100%; margin: auto;" alt="">
</body>
</html>